<div class="row">
    <div class="col-md-12">
        <h1>All Wikis <%= link_to "New Wiki", new_wiki_path(@wiki), class: 'btn btn-success btn-sm pull-right' %></h1>
        <br>
    </div>
</div>
    <div class="row"> 
        <div class="col-md-12">
            <% @wikis.each do |wiki| %>
                <% if wiki.private == false %>
                      <h4><%= link_to wiki.title, wiki %></h4>
                      <p><%=h truncate(wiki.body, :length => 80) %><%= link_to " read more", wiki %></p>
                      <hr>
                <% end %>
            <% end %>
        </div>
    </div>
    <% if current_user && current_user.premium? %>
     
      <h4>My Private Wikis</h4>
        <% @wikis.each do |wiki| %>
            <% if wiki.private || wiki.user_id == current_user %>
              <ul>
                <li>
                  <h4>
                    <%= link_to wiki.title, wiki %>
                  </h4>
                  </li>
              </ul>
            <% end %>
        <% end %>
      <% end %>
              <br>
    <h4>My Collaborations</h4>
    <div class="collaborations">
    <% @wikis.each do |wiki| %>
      <% if Collaborator.exists?(wiki_id: wiki) %>
        <ul>
          <li>
            <%= link_to wiki.title, wiki %>
          </li>
        </ul>
      <% end %>
    <% end %>
    </div>
  </div>
  